<% content_for :title, "Editing product" %>

<div class="md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing product</h1>

  <%= render "form", admin_product: @admin_product %>

  <%= link_to "Show this product",  [:admin, @admin_product], class: "w-full sm:w-auto text-center mt-2 sm:mt-0 sm:ml-2 rounded-md p-2 bg-orange-600 hover:bg-orange-300 inline-block font-medium text-white" %>
  <%= link_to "Back to products", admin_products_path, class: "w-full sm:w-auto text-center mt-2 sm:mt-0 sm:ml-2 rounded-md p-2 bg-gray-600 hover:bg-gray-300 inline-block font-medium text-white"  %>
</div>

